<div class="container">
    <div class="guess">
        <app-player-guess [termine]="win || lose" [config]="config" (guessEmitter)="getGuess($event)"></app-player-guess>
    </div>
    <div class="board">
        <app-board [getGuesses]="guesses"></app-board>
    </div>
</div>
<div *ngIf="win || lose">
    <p [style]="{'color': win ? 'green' : 'red'}">{{ win ? "C'est gagné !" : "C'est perdu !"}}</p>
    <p>La combinaison gagnante : </p>
    <tr>
        <td *ngFor="let p of combination.pions" [style]="{'background-color': p.color}"></td>
    </tr>
    <button (click)="restart()">Restart</button>
</div>
    