td{
    border: 1px solid black;
    width: 70px;
    height: 50px;
}

.white{
    border: 0;
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 45px;
}

.black{
    border: 0;
    display: flex;
    justify-content: center;
    color: maroon;
    font-size: 45px;
}