<div>
    <div *ngFor="let c of config.colorSet" [style]="{'background-color': c}" (click)="onColorClick(c)"></div>
</div>
<div>
    <p>Tentatives max = {{config.nbTentatives}}</p>
    <p>{{config.solo ? 'Guess' : 'Pick the combination'}} :</p>
    <tr>
        <td *ngFor="let p of guess.pions" [style]="{'background-color': p.color}" (click)="onGuessClick(p)"></td>
    </tr>
    <button style="background-color: seashell;" (click)="onResetClick()" [disabled]="picks === 0">Reset</button>
    <button style="background-color: mintcream;" (click)="onValidateClick()" [disabled]="picks != 4">Validate</button>
</div>