<div class="tab">
    <tr>
        <td *ngFor="let c of config.colorSet" [style]="{'background-color': c}" (click)="onColorClick(c)"></td>
    </tr>
    <tr>
        <td style="background-color: seashell;" (click)="onResetClick()">Reset</td>
        <td style="background-color: mintcream;" (click)="onValidateClick()">Validate</td>
    </tr>
</div>
<div>
    <p>Tentatives max = {{config.nbTentatives}}</p>
    <p>{{config.solo ? 'Guess' : 'Pick the combination'}} :</p>
    <tr>
        <td [style]="{'background-color': guess.pions[0].color}" (click)="onGuessClick(1)"></td>
        <td [style]="{'background-color': guess.pions[1].color}" (click)="onGuessClick(2)"></td>
        <td [style]="{'background-color': guess.pions[2].color}" (click)="onGuessClick(3)"></td>
        <td [style]="{'background-color': guess.pions[3].color}" (click)="onGuessClick(4)"></td>
    </tr>
</div>